{% extends "base.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="css/landmark.css">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script defer src="js/helper.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ mapsKey }}&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
{% endblock %}

{% set title = name %}

{% set showNav = true %}

{% block content %}
    <div class="landmark" data-title="{{ name }}" data-lat="{{ lat }}" data-lng="{{ lng }}">
        <h1>{{ name }}</h1>
        <section class="landmark-container flex">
            <aside>
                <a>Link</a>
                <a>Link</a>
                <a>Link</a>
            </aside>
            <section>
                {% for paragraph in desc %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
            </section>
            <aside>
                <div id="map"></div>
            </aside>
        </section>
    </div>
{% endblock %}